
TD/Backup/

TD/logs.txt

TD/TDImportCache/

Traces_autosave/

TD/P110_Control.*.toe

RuleMapoule/mapping_autosave/

Traces_backup*

Ressources/

AfterFX/Adobe After Effects Auto-Save/

AfterFX/Traces After.aep Logs/

AfterFX/Renders/

crashlog.dmp

crashlog.txt

Traces_recovered.noisette

RuleMapoule/Videos/
